<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul><li><a href="/resume">Resumé</a></li>
	        		<li><a href="mailto:devikalakhote@uchicago.edu">Email</a></li>
	        		<li><a href="https://github.com/devikalakhote">github.com/devikalakhote</a></li>
				</ul>
			</footer>
		</body>
	</html>